# Plaid API
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# GCP
GOOGLE_APPLICATION_CREDENTIALS=~/.gcp/plaid-pipeline-sa-key.json
GCP_PROJECT_ID=plaid-495309
GCS_BUCKET_NAME=plaid-495309-raw-data
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_INTERMEDIATE=intermediate
BQ_DATASET_MARTS=marts
